*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.box{
    background-color: rgb(54, 54, 54);
}

body{
    background-color: rgb(14, 14, 14) !important;

}
.badgee{
    z-index: 10000;
}

